[defaults]
inventory = /usr/lib/layersentry/ansible/inventory/localhost.ini
roles_path = /usr/lib/layersentry/ansible/roles
library = /usr/lib/layersentry/ansible/library
retry_files_enabled = False
host_key_checking = True
interpreter_python = /usr/bin/python3
stdout_callback = default
display_args_to_stdout = False
command_warnings = True
local_tmp = /run/layersentryd/ansible/tmp
remote_tmp = /run/layersentryd/ansible/remote
forks = 1
timeout = 30

[privilege_escalation]
become = False
