[Unit]
Description=LayerSentry Single-OS privileged execution helper
After=local-fs.target firewalld.service
Before=layersentryd.service layersentry-maintenance.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/layersentryd privileged-helper
Restart=on-failure
RestartSec=3s
UMask=0077
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
LockPersonality=true
RestrictSUIDSGID=true
RestrictRealtime=true
SystemCallArchitectures=native
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
ReadWritePaths=/run/layersentryd /etc /var/lib/pgsql /var/lib/mysql /var/lib/redis /var/lib/valkey /var/log /srv /data /opt/layersentry-data /var/log/layersentry-services
CapabilityBoundingSet=CAP_CHOWN CAP_DAC_OVERRIDE CAP_FOWNER CAP_SETGID CAP_SETUID CAP_SYS_ADMIN CAP_NET_ADMIN CAP_AUDIT_WRITE
AmbientCapabilities=

[Install]
WantedBy=multi-user.target
