[Unit]
Description=LayerSentry Single-OS lifecycle agent
After=network-online.target firewalld.service layersentry-firstboot.service
Wants=network-online.target
Requires=layersentry-firstboot.service

[Service]
Type=simple
ExecStart=/usr/bin/layersentryd serve
Restart=on-failure
RestartSec=5s
UMask=0077
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
LockPersonality=true
RestrictSUIDSGID=true
RestrictRealtime=true
SystemCallArchitectures=native
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
ReadWritePaths=/var/lib/layersentryd /etc /var/lib/pgsql /var/log /run /tmp
CapabilityBoundingSet=CAP_CHOWN CAP_DAC_OVERRIDE CAP_FOWNER CAP_SETGID CAP_SETUID CAP_SYS_ADMIN CAP_NET_ADMIN CAP_AUDIT_WRITE
AmbientCapabilities=

[Install]
WantedBy=multi-user.target
